.clients {
  display: none;
  text-align: center;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.clients__list-item {
  padding: 18px 0 14px;
  width: 100%;
  border: solid 1px;
  fill: currentColor;
  border-color: currentColor;
  border-radius: 4px;
  color: $borderIcon;
  cursor: pointer;
  transition: color 250ms ease;

  &:is(:hover, :focus) {
    color: $mainActive;
  }
}
