.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
}

.modal {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  min-height: 581px;
  max-width: 528px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  transform: scale(1);
  transition-property: visibility, opacity, transform;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  overflow-y: auto;
}
